In [1]:
import pandas as pd
import numpy as np
import subprocess
import re
from subprocess import Popen, PIPE

In [2]:
sample_sub = pd.read_csv('sample_submission.csv')
sample_sub

           id       EAP       HPL       MWS
0     id02310  0.403494  0.287808  0.308698
1     id24541  0.403494  0.287808  0.308698
2     id00134  0.403494  0.287808  0.308698
3     id27757  0.403494  0.287808  0.308698
4     id04081  0.403494  0.287808  0.308698
5     id27337  0.403494  0.287808  0.308698
6     id24265  0.403494  0.287808  0.308698
7     id25917  0.403494  0.287808  0.308698
8     id04951  0.403494  0.287808  0.308698
9     id14549  0.403494  0.287808  0.308698
10    id22505  0.403494  0.287808  0.308698
11    id24002  0.403494  0.287808  0.308698
12    id18982  0.403494  0.287808  0.308698
13    id15181  0.403494  0.287808  0.308698
14    id21888  0.403494  0.287808  0.308698
15    id12035  0.403494  0.287808  0.308698
16    id17991  0.403494  0.287808  0.308698
17    id10707  0.403494  0.287808  0.308698
18    id07101  0.403494  0.287808  0.308698
19    id00345  0.403494  0.287808  0.308698
20    id05912  0.403494  0.287808  0.308698
21    id13443  0.403494  0.287808  0.308698
22    id09248  0.403494  0.287808  0.308698
23    id17542  0.403494  0.287808  0.308698
24    id06995  0.403494  0.287808  0.308698
25    id25159  0.403494  0.287808  0.308698
26    id25729  0.403494  0.287808  0.308698
27    id26949  0.403494  0.287808  0.308698
28    id27191  0.403494  0.287808  0.308698
29    id07668  0.403494  0.287808  0.308698
...       ...       ...       ...       ...
8362  id22510  0.403494  0.287808  0.308698
8363  id19204  0.403494  0.287808  0.308698
8364  id05758  0.403494  0.287808  0.308698
8365  id27063  0.403494  0.287808  0.308698
8366  id11773  0.403494  0.287808  0.308698
8367  id11562  0.403494  0.287808  0.308698
8368  id16208  0.403494  0.287808  0.308698
8369  id04036  0.403494  0.287808  0.308698
8370  id26159  0.403494  0.287808  0.308698
8371  id26777  0.403494  0.287808  0.308698
8372  id08501  0.403494  0.287808  0.308698
8373  id11216  0.403494  0.287808  0.308698
8374  id03410  0.403494  0.287808  0.308698
8375  id04537  0.403494  0.287808  0.308698
8376  id26628  0.403494  0.287808  0.308698
8377  id01586  0.403494  0.287808  0.308698
8378  id13421  0.403494  0.287808  0.308698
8379  id26084  0.403494  0.287808  0.308698
8380  id05375  0.403494  0.287808  0.308698
8381  id23212  0.403494  0.287808  0.308698
8382  id15980  0.403494  0.287808  0.308698
8383  id11719  0.403494  0.287808  0.308698
8384  id13109  0.403494  0.287808  0.308698
8385  id07156  0.403494  0.287808  0.308698
8386  id04893  0.403494  0.287808  0.308698
8387  id11749  0.403494  0.287808  0.308698
8388  id10526  0.403494  0.287808  0.308698
8389  id13477  0.403494  0.287808  0.308698
8390  id13761  0.403494  0.287808  0.308698
8391  id04282  0.403494  0.287808  0.308698

[8392 rows x 4 columns]

In [3]:
def write_content_txt_file(content):
    clean_txt_file()
    with open('test.txt', 'w') as f:
        f.write(content)
    return None

def clean_txt_file():
    f = open('test.txt', 'r+')
    f.truncate()
    return None

## Data cleaning functions
def remove_label(text):
    txt = re.sub('__label__', '', text)
    return txt

def remove_new_line(text):
    txt = re.sub('\n', '', text)
    return txt

In [4]:
test = pd.read_csv('test.csv')
test

           id                                               text
0     id02310  Still, as I urged our leaving Ireland with suc...
1     id24541  If a fire wanted fanning, it could readily be ...
2     id00134  And when they had broken down the frail door t...
3     id27757  While I was thinking how I should possibly man...
4     id04081  I am not sure to what limit his knowledge may ...
5     id27337  "The thick and peculiar mist, or smoke, which ...
6     id24265  That which is not matter, is not at all unless...
7     id25917  I sought for repose although I did not hope fo...
8     id04951  Upon the fourth day of the assassination, a pa...
9     id14549         "The tone metaphysical is also a good one.
10    id22505  These, the offspring of a later period, stood ...
11    id24002  What kept him from going with her and Brown Je...
12    id18982  Persuading the widow that my connexion with he...
13    id15181  When I arose trembling, I know not how much la...
14    id21888  And by the shores of the river Zaire there is ...
15    id12035  Idris heard of her mother's return with pleasure.
16    id17991  I say this proudly, but with tears in my eyes ...
17    id10707  But let us glance at the treatise Ah "Ability ...
18    id07101  "What a place is this that you inhabit, my son...
19    id00345  At his nod I took one of the latter and seated...
20    id05912  No one doubted now that the mystery of this mu...
21    id13443  But although, in one or two instances, arrests...
22    id09248  Festivity, and even libertinism, became the or...
23    id17542        For I am Iranon, who was a Prince in Aira."
24    id06995  "Gaze not on the star, dear, generous friend,"...
25    id25159  I am serious in asserting that my breath was e...
26    id25729  The thing will haunt me, for who can say the e...
27    id26949  Before each of the party lay a portion of a sk...
28    id27191  If she had been bred in that sphere of life to...
29    id07668  Or, if this mode of speech offend you, let me ...
...       ...                                                ...
8362  id22510  Then again he distracted my thoughts from my s...
8363  id19204  Upon the whole, whether happily or unhappily, ...
8364  id05758  He was not allowed to finish this speech in tr...
8365  id27063  His looks were wild with terror, and he spoke ...
8366  id11773  By the quantity of provision which I had consu...
8367  id11562  I hurled after the scoundrel these vehement wo...
8368  id16208  Notwithstanding the hazardous object of our jo...
8369  id04036  I felt the greatest eagerness to hear the prom...
8370  id26159  But in the expression of the countenance, whic...
8371  id26777  Its decorations were rich, yet tattered and an...
8372  id08501  He directed my attention to some object agains...
8373  id11216  Hey? Haow'd ye like to hear the haowlin' night...
8374  id03410  She was buried not in a vault, but in an ordin...
8375  id04537  In company with this sprightly and clever Gree...
8376  id26628  In this unnerved in this pitiable condition I ...
8377  id01586  He was a scoundrel, and I don't blame you for ...
8378  id13421  But why should I dwell upon the incidents that...
8379  id26084  In the streets were spears of long grass, and ...
8380  id05375  When I first sought it, it was the love of vir...
8381  id23212  But it is in matters beyond the limits of mere...
8382  id15980  "I may say an excellently well constructed house.
8383  id11719  Across a covered bridge one sees a small villa...
8384  id13109  You cannot take up a common newspaper in which...
8385  id07156  Consoling myself with this reflection, I was m...
8386  id04893  Yet we laughed and were merry in our proper wa...
8387  id11749         All this is now the fitter for my purpose.
8388  id10526                 I fixed myself on a wide solitude.
8389  id13477  It is easily understood that what might improv...
8390  id13761  Be this as it may, I now began to feel the ins...
8391  id04282  Long winded, statistical, and drearily genealo...

[8392 rows x 2 columns]

In [5]:
with(open('test_frases.txt', 'w')) as f:
    for i in range(len(test)):
        f.write(test['text'][i].lower()+"\n")

In [6]:
my_sub = pd.DataFrame(columns={'id', 'EAP','HPL', 'MWS'})
my_sub=my_sub[['id', 'EAP','HPL', 'MWS']]
my_sub

Empty DataFrame
Columns: [id, EAP, HPL, MWS]
Index: []

In [7]:
fast = Popen(['fasttext', 'predict-prob', 'model_1.bin','test_frases.txt', '3'], stdin=PIPE, stdout=PIPE, stderr=PIPE)
output, err = fast.communicate()
#print(output)
reply = "".join(output.decode('utf8')).split("\n")
for i in range(len(reply)):
    if re.search('__label__',reply[i]):
        reply[i]=remove_label(reply[i])
    if re.search('\n',reply[i]):
        reply[i]=remove_new_line(reply[i])

## Clearning empty replies
reply[:] = [item for item in reply if item !='']
outer =[]
for i in range(len(reply)):
    outer.append(reply[i].split(" "))
    
for i in range(len(outer)):
    for j in range(len(outer[i])):
        if re.search('EAP', outer[i][j]):
            EAP = outer[i][j+1]
        if re.search('MWS', outer[i][j]):
            MWS = outer[i][j+1]
        if re.search('HPL', outer[i][j]):
            HPL = outer[i][j+1]
    my_sub.loc[i] = [test['id'][i], EAP, HPL, MWS]

In [8]:
my_sub

           id          EAP          HPL          MWS
0     id02310  1.95313e-08  1.95313e-08     0.998047
1     id24541            1  1.95313e-08  1.95313e-08
2     id00134  1.95313e-08     0.998047  1.95313e-08
3     id27757     0.998047  1.95313e-08  1.95313e-08
4     id04081     0.402344     0.595703  1.95313e-08
5     id27337            1  1.95313e-08  1.95313e-08
6     id24265            1  1.95313e-08  1.95313e-08
7     id25917  1.95313e-08  1.95313e-08     0.998047
8     id04951            1  1.95313e-08  1.95313e-08
9     id14549            1  1.95313e-08  1.95313e-08
10    id22505  1.95313e-08     0.183594     0.814453
11    id24002  1.95313e-08            1  1.95313e-08
12    id18982  1.95313e-08  1.95313e-08     0.998047
13    id15181     0.705078     0.292969  1.95313e-08
14    id21888     0.998047  1.95313e-08  1.95313e-08
15    id12035  1.95313e-08  1.95313e-08            1
16    id17991  1.95313e-08  1.95313e-08     0.998047
17    id10707            1  1.95313e-08  1.95313e-08
18    id07101     0.998047  1.95313e-08  1.95313e-08
19    id00345            1  1.95313e-08  1.95313e-08
20    id05912            1  1.95313e-08  1.95313e-08
21    id13443    0.0117188     0.117188     0.867188
22    id09248     0.078125  1.95313e-08     0.919922
23    id17542  1.95313e-08     0.998047  1.95313e-08
24    id06995     0.998047  1.95313e-08  1.95313e-08
25    id25159  1.95313e-08  1.95313e-08     0.998047
26    id25729  1.95313e-08     0.394531     0.603516
27    id26949            1  1.95313e-08  1.95313e-08
28    id27191  1.95313e-08  1.95313e-08            1
29    id07668     0.998047  1.95313e-08  1.95313e-08
...       ...          ...          ...          ...
8362  id22510  1.95313e-08  1.95313e-08            1
8363  id19204            1  1.95313e-08  1.95313e-08
8364  id05758  1.95313e-08  1.95313e-08            1
8365  id27063     0.998047  1.95313e-08  1.95313e-08
8366  id11773  1.95313e-08  1.95313e-08     0.998047
8367  id11562            1  1.95313e-08  1.95313e-08
8368  id16208  1.95313e-08  1.95313e-08     0.998047
8369  id04036  1.95313e-08  1.95313e-08     0.998047
8370  id26159     0.998047  1.95313e-08  1.95313e-08
8371  id26777     0.978516  1.95313e-08    0.0195313
8372  id08501            1  1.95313e-08  1.95313e-08
8373  id11216  1.95313e-08            1  1.95313e-08
8374  id03410   0.00195314   0.00585939     0.990234
8375  id04537  1.95313e-08  1.95313e-08     0.998047
8376  id26628    0.0273438  1.95313e-08     0.970703
8377  id01586  1.95313e-08            1  1.95313e-08
8378  id13421            1  1.95313e-08  1.95313e-08
8379  id26084  1.95313e-08     0.998047  1.95313e-08
8380  id05375  1.95313e-08  1.95313e-08     0.998047
8381  id23212            1  1.95313e-08  1.95313e-08
8382  id15980            1  1.95313e-08  1.95313e-08
8383  id11719  1.95313e-08     0.998047  1.95313e-08
8384  id13109            1  1.95313e-08  1.95313e-08
8385  id07156     0.998047  1.95313e-08  1.95313e-08
8386  id04893            1  1.95313e-08  1.95313e-08
8387  id11749            1  1.95313e-08  1.95313e-08
8388  id10526  1.95313e-08  1.95313e-08            1
8389  id13477     0.998047  1.95313e-08  1.95313e-08
8390  id13761    0.0136719  1.95313e-08     0.984375
8391  id04282     0.988281   0.00976564  1.95313e-08

[8392 rows x 4 columns]

In [9]:
my_sub.to_csv('roberto_5.csv',index=False)